.game_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  user-select: none;
  background-color: #41ba62;

  &.game_on {
    cursor: pointer;
  }

  .game_board {
    width: min(90vw, 100vh);
    height: min(90vw, 100vh);
    background-color: #41ba62;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: calc(100% / var(--size, 10));
    }

    .cell {
      width: calc(100% / var(--size, 10));
      position: relative;

      img.fence {
        width: 100%;
        height: 100%;
      }

      img.cow {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;

        &.normal {
          width: 200%;
          height: 200%;
        }

        &.big {
          width: 400%;
          height: 400%;
        }
      }
    }
  }

  .cow_item {
    position: absolute;

    img {
      width: 5vw;
    }

    &.checked {
      transform: translate(-50%, -50%);
      transition: 1s;
    }
  }

  .score {
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 2rem;
    color: #313131;
  }

  .info_block {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;

    .text {
      color: #ebedec;
      font-size: 3rem;
    }

    .btn {
      color: #313131;
      font-size: 2rem;
      cursor: pointer;
      margin-top: 25px;
    }
  }
}
