@font-face {
  font-family: Granita;
  src: url("/src/font/GranitaDemoRegular-BF64055bc8183d6.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Granita, sans-serif;
}
